.card {
	margin: auto;
	width: 60rem;
	margin-bottom: 3rem;
}

h1 {
	text-align: left;
	text-transform: uppercase;
	color: #4caf50;
}

.searchBar {
	margin: auto;
	width: 60rem;
	margin-bottom: 3rem;
}
